Singleton - C#/obj
Singleton - C#/bin
Singleton - C#/.vs
factory method - c#/.vs
factory method - c#/factory method/bin
factory method - c#/factory method/obj
factory method - c#/bin
factory method - c#/obj
